.gridbox{
    display: grid;
    grid-row: 5;
    grid-column: 5;
    height: 50em;
    width: auto;
}
.block-img{
    display: flex;
    justify-content: center;
    align-content: center;
}

div > div:hover {
    box-shadow: 0 0 15px lightslategrey;
  }


.item-1{
    grid-column: 1/3;
    grid-row: 1/3;
    background-color: rgb(124, 34, 197);
}

.item-2{
    grid-column: 3/4;
    grid-row: 1/5;
    background-color: rgb(194, 36, 36);
}

.item-3{
    grid-column: 4/5;
    grid-row: 1/2;
    background-color: orange;
}

.item-4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    background-color: rgb(5, 136, 136);
}

.item-5{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
    background-color: lightskyblue;
}

h1{
    display: flex;
    justify-content: center;
}